.chef_banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c80f0f;
    opacity: 0.3;
    z-index: -1;
}

.chef_bio::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #156018;
    opacity: 0.9;
    z-index: -2;
}